header {
    text-align: center;
    background-color: black;
}

#img-library {
    height: 150px;
}

#button {
    text-align: center;
}

.book-form .form-field {
    position: relative;
    margin: 32px 0;
}

.book-form .input-text {
    display: block;
    width: 100%;
    height: 36%;
    border-width: 0 0 2px 0;
    border-color: gray;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
}

.book-form .input-text:focus {
    outline: none;
}
